.container {
  .section-buttons {
    display: flex;
    gap: 80px;
    &--button {
      cursor: pointer;
      &.active {
        color: $color-java;
        border-bottom: 2px solid $color-java;
      }
    }
  }
}
