.tab-headers {
  &__container {
    display: flex;
    gap: 80px;
  }
  &__header {
    padding: 0;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

    &.active {
      color: $color-java;
      border-bottom: 2px solid $color-java;
    }
  }
}
