$color-white: #fff;
$color-black: #000;
$color-java: #11b0c8;
$color-catskill-white: #f8fafc;
$color-cadet-blue: #a9b1bd;
$color-light-gray: #e5eaf4;

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;
$breakpoint-hd: 1920px;
